<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-bordered">
        <tr>
            <th>Имя</th>
            <th>Возраст</th>
            <th>Город</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row['Имя'] }}</td>
            <td>{{ row['Возраст'] }}</td>
            <td>{{ row['Город'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>